@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .link {
        @apply hover:border-b-4  hover:border-b-yellow-500 hover:text-yellow-500 sm:border-yellow-200 p-5  hover:transition hover:ease-in-out hover:duration-1000 hover:-translate-y-1 hover:scale-110
    }
    .btn {
        @apply bg-yellow-500 p-2 rounded-md hover:bg-yellow-300 mt-2 mx-3
        hover:transition hover:ease-in-out hover:duration-1000 hover:-translate-y-1 hover:scale-110
    }
    .cardimage {
        @apply lg:h-60 w-full rounded-lg bg-cover bg-center    mx-auto
        hover:transition hover:ease-in-out hover:duration-1000 hover:-translate-y-1 hover:scale-110
    }
}
@layer utilities{
   .image {
    background-image: linear-gradient(rgba(0, 0, 0, 1) , rgba(0, 0, 0, 0.1)),url('../public/imge/home.jpg');
   }
}